<div class='container'>
  <div class='row'>
    <%= render 'admin/flash_messages'%>
    <%=render 'categories/index_categories'%>
  </div>
  <div class="row">
    <%=link_to 'Admin Dashboard',admin_dashboard_path%>
  </div>
  <div class="row">
    <% @album.each do |album|%>
      <%= album.name%>
      <%= album.ci_lower_bound%>
    <%end%>
  </div>
</div>
